<nav
  class="relative flex flex-col items-end w-full h-full gap-4 p-3 overflow-y-auto border-t-2 sm:border-t-0 sm:border-s-2 justify-stretch">

  <h3 class="self-start my-2 text-2xl font-semibold">Departamento "{{department.name}}"</h3>

  <p-select [options]="departmentNames" placeholder="Selecciona un Departamento" class="w-full"></p-select>
  <button class="px-4 py-2 text-white bg-gray-800 rounded-md">Añadir pregunta</button>
</nav>

<style>
  nav {
    transition: opacity 0.35s ease-in-out;
    opacity: 1;

    @starting-style {
      opacity: 0;
    }
  }
</style>