<p class="mt-2 mb-10 text-xl font-semibold text-center">Selecciona el área que deseas evaluar</p>

@if (surveys().length === 0 || surveys() === undefined ) {
  <div class="mx-auto mb-16 loader"></div>
} 

@for (survey of surveys(); track $index) {
  <div class="flex items-center w-full">
      <input class="peer px-2 py-4 size-6 hidden" type="radio" id="{{ survey.id }}" name="{{ survey.departmentEntity?.name }}" value="{{ survey.id }}" (change)="handleSelectSurvey(survey.id)" />
      <label for="{{ survey.id }}" class="peer-checked:bg-gradient-to-tr peer-checked:from-blue-400 peer-checked:to-cyan-400 peer-checked:text-white transition px-4 w-full text-start bg-slate-100 rounded-lg border text-xl py-3 ml-2 font-semibold">{{ survey.departmentEntity?.name }}</label>
  </div>
}
