<p class="mt-2 mb-10 text-xl font-semibold text-center">Selecciona el área que deseas evaluar</p>

@if (surveys().length === 0 || surveys() === undefined ) {
  <div class="mx-auto mb-16 loader"></div>
} 

@for (survey of surveys(); track $index) {
  <div class="flex items-center self-start mx-5">
    <input class="px-2 py-4 size-4" type="radio" id="{{ survey.id }}" name="survey" value="{{ survey.id }}" (change)="handleSelectSurvey(survey.id)" />
    <label for="{{ survey.id }}" class="px-3 py-2 ml-2 font-semibold">{{ survey.departmentEntity?.name }}</label>
  </div>
}
