<main class="flex flex-col w-full gap-8">
  <section class="flex flex-col gap-3">
    <h3 class="text-3xl text-center text-pretty">
      <strong>Bienvenido</strong> a la calificación de atención al cliente de
      <strong>Elyon Yireh</strong>
    </h3>

    <p class="text-lg text-center">¿Eres administrador o auditor?</p>
    <a
      class="block px-3 py-2 mx-2 font-bold text-center text-white bg-blue-400 rounded-md"
      href=""
      >Iniciar Sesión</a
    >
  </section>
  <div class="flex items-center mx-2">
    <hr class="w-full text-black bg-black" />
    <p class="mx-2">O</p>
    <hr class="w-full text-black bg-black" />
  </div>

  <section class="flex flex-col items-center gap-4 mx-2">
    <h3 class="text-2xl text-center text-pretty">
      <strong>Califica</strong> tu experiencia
    </h3>

    <app-stepper></app-stepper>
  </section>
</main>
