<p class="my-6 text-xl font-semibold text-center">Brindanos tus Datos personales</p>

<form [formGroup]="respondentForm" class="my-4">
  <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
    <div class="col-span-2">
      <label for="firstname" class="block text-sm font-medium text-gray-700">Nombre</label>
      <input type="text" id="firstname" formControlName="firstname" class="block w-full px-1 py-2 mt-1 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">

      @if (firstname.hasError("required") && (firstname.dirty || firstname.touched)) {
        <p class="text-xs italic text-red-500">Este campo es requerido</p>
      }

      @if (firstname.hasError("maxLength")) {
        <p class="text-xs italic text-red-500">Este campo no puede tener más de 50 caracteres</p>
      }

      @if (firstname.hasError("pattern")) {
        <p class="text-xs italic text-red-500">Este campo solo puede contener letras</p>
      }

    </div>

    <div class="col-span-2">
      <label for="lastname" class="block text-sm font-medium text-gray-700">Apellido</label>
      <input type="text" id="lastname" formControlName="lastname" class="block w-full px-1 py-2 mt-1 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">

      @if (lastname.hasError("required") && (lastname.dirty || lastname.touched)) {
        <p class="text-xs italic text-red-500">Este campo es requerido</p>
      }

      @if (lastname.hasError("maxLength")) {
        <p class="text-xs italic text-red-500">Este campo no puede tener más de 50 caracteres</p>
      }

      @if (lastname.hasError("pattern")) {
        <p class="text-xs italic text-red-500">Este campo solo puede contener letras</p>
      }
    </div>

    <div class="col-span-2">
      <label for="documentType" class="block text-sm font-medium text-gray-700">Tipo de documento</label>
      <select id="documentType" formControlName="documentType" class="block w-full px-1 py-2 mt-1 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
        <option selected disabled value="">-- Selecciona una opción --</option>
        <option value="CC">Cedula de Ciudadanía</option>
        <option value="TI">Tarjeta de Identidad</option>
        <option value="CE">Cedula de Extranjería</option>
        <option value="Pasaporte">Pasaporte</option>
      </select>

      @if (documentType.hasError("required") && (documentType.dirty || documentType.touched)) {
        <p class="text-xs italic text-red-500">Este campo es requerido</p>
      }
    </div>

    <div class="col-span-2">
      <label for="documentNumber" class="block text-sm font-medium text-gray-700">Número de documento</label>
      <input type="text" id="documentNumber" formControlName="documentNumber" class="block w-full px-1 py-2 mt-1 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">

      @if (documentNumber.hasError("required") && (documentNumber.dirty || documentNumber.touched)) {
        <p class="text-xs italic text-red-500">Este campo es requerido</p>
      }

      @if (documentNumber.hasError("maxLength")) {
        <p class="text-xs italic text-red-500">Este campo no puede tener más de 20 caracteres</p>
      }

      @if (documentNumber.hasError("maxLength")) {
        <p class="text-xs italic text-red-500">Este campo no puede tener menos de 10 caracteres</p>
      }

      @if (documentNumber.hasError("pattern")) {
        <p class="text-xs italic text-red-500">Este campo solo puede contener números</p>
      }
    </div>

    <div class="col-span-2">
      <label for="email" class="block text-sm font-medium text-gray-700">Correo electrónico</label>
      <input type="email" id="email" formControlName="email" class="block w-full px-1 py-2 mt-1 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">

      @if (email.hasError("required") && (email.dirty || email.touched)) {
        <p class="text-xs italic text-red-500">Este campo es requerido</p>
      }

      @if (email.hasError("email")) {
        <p class="text-xs italic text-red-500">Este campo debe ser un correo electrónico válido</p>
      }
    </div>

    <div class="col-span-2">
      <label for="phone" class="block text-sm font-medium text-gray-700">Teléfono</label>
      <input type="text" id="phone" formControlName="phone" class="block w-full px-1 py-2 mt-1 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">

      @if (phone.hasError("required") && (phone.dirty || phone.touched)) {
        <p class="text-xs italic text-red-500">Este campo es requerido</p>
      }

      @if (phone.hasError("maxLength")) {
        <p class="text-xs italic text-red-500">Este campo no puede tener más de 20 caracteres ni menos de 7 caracteres</p>
      }

      @if (phone.hasError("minLength")) {
        <p class="text-xs italic text-red-500">Este campo no puede tener más de 20 caracteres ni menos de 7 caracteres</p>
      }

      @if (phone.hasError("pattern")) {
        <p class="text-xs italic text-red-500">Este campo solo puede contener números</p>
      }

      
    </div>

    <div class="col-span-2">
      <div class="flex items-center">
        <input id="student" formControlName="student" type="checkbox" class="w-4 h-4 text-indigo-600 border-gray-300 rounded focus:ring-indigo-500">
        <label for="student" class="block ml-2 text-sm text-gray-900">Soy estudiante</label>
      </div>
    </div>

    <div class="col-span-2">
      <button type="button" [disabled]="respondentForm.invalid" (click)="handleNextStep()" class="inline-flex justify-center w-full px-4 py-2 text-base font-medium text-white bg-indigo-600 border border-transparent rounded-md shadow-sm disabled:bg-gray-300 disabled:text-black hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:text-sm">
        Siguiente
      </button>
    </div>
  </div>


</form>