<h5 class="mt-2 mb-5 text-xl font-semibold text-center">Brindanos tus Datos personales</h5>
<p class="text-sm text-center text-gray-500 text-pretty mb-10">
  En Elyon Yireh, protegemos tus datos personales y garantizamos su uso exclusivo para el mejoramiento nuestros servicios. No compartiremos tu información con terceros, salvo por obligación legal o con tu consentimiento expreso.
</p>

<hr class="w-full bg-black mb-5">

<form [formGroup]="respondentForm" class="my-4">
  <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
    <div class="col-span-2">
      <label for="firstname" class="block mb-2 text-sm font-medium text-gray-900">Nombre</label>
      <input type="text" id="firstname" formControlName="firstname" class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 p-2.5 outline-none">

      @if (firstname.hasError("required") && (firstname.dirty || firstname.touched)) {
        <p class="text-xs italic text-red-500">Este campo es requerido</p>
      }

      @if (firstname.hasError("maxLength")) {
        <p class="text-xs italic text-red-500">Este campo no puede tener más de 50 caracteres</p>
      }

      @if (firstname.hasError("pattern")) {
        <p class="text-xs italic text-red-500">Este campo solo puede contener letras</p>
      }

    </div>

    <div class="col-span-2">
      <label for="lastname" class="block mb-2 text-sm font-medium text-gray-900">Apellido</label>
      <input type="text" id="lastname" formControlName="lastname" class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 p-2.5 outline-none">

      @if (lastname.hasError("required") && (lastname.dirty || lastname.touched)) {
        <p class="text-xs italic text-red-500">Este campo es requerido</p>
      }

      @if (lastname.hasError("maxLength")) {
        <p class="text-xs italic text-red-500">Este campo no puede tener más de 50 caracteres</p>
      }

      @if (lastname.hasError("pattern")) {
        <p class="text-xs italic text-red-500">Este campo solo puede contener letras</p>
      }
    </div>

    <div class="col-span-2">
      <label for="documentType" class="block mb-2 text-sm font-medium text-gray-900">Tipo de documento</label>
      <select id="documentType" formControlName="documentType" class="bg-gray-50 border outline-none border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
        <option selected disabled value="">-- Selecciona una opción --</option>
        <option value="CC">Cedula de Ciudadanía</option>
        <option value="TI">Tarjeta de Identidad</option>
        <option value="CE">Cedula de Extranjería</option>
        <option value="Pasaporte">Pasaporte</option>
      </select>

      @if (documentType.hasError("required") && (documentType.dirty || documentType.touched)) {
        <p class="text-xs italic text-red-500">Este campo es requerido</p>
      }
    </div>

    <div class="col-span-2">
      <label for="documentNumber" class="block mb-2 text-sm font-medium text-gray-900">Número de documento</label>
      <input type="text" id="documentNumber" formControlName="documentNumber" class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 p-2.5 outline-none">

      @if (documentNumber.hasError("required") && (documentNumber.dirty || documentNumber.touched)) {
        <p class="text-xs italic text-red-500">Este campo es requerido</p>
      }

      @if (documentNumber.hasError("maxLength")) {
        <p class="text-xs italic text-red-500">Este campo no puede tener más de 20 caracteres</p>
      }

      @if (documentNumber.hasError("maxLength")) {
        <p class="text-xs italic text-red-500">Este campo no puede tener menos de 10 caracteres</p>
      }

      @if (documentNumber.hasError("pattern")) {
        <p class="text-xs italic text-red-500">Este campo solo puede contener números</p>
      }
    </div>

    <div class="col-span-2">
      <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Correo electrónico</label>
      <input type="email" id="email" formControlName="email" class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 p-2.5 outline-none">

      @if (email.hasError("required") && (email.dirty || email.touched)) {
        <p class="text-xs italic text-red-500">Este campo es requerido</p>
      }

      @if (email.hasError("email")) {
        <p class="text-xs italic text-red-500">Este campo debe ser un correo electrónico válido</p>
      }
    </div>

    <div class="col-span-2">
      <label for="phone" class="block mb-2 text-sm font-medium text-gray-900">Teléfono</label>
      <input type="text" id="phone" formControlName="phone" class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 p-2.5 outline-none">

      @if (phone.hasError("required") && (phone.dirty || phone.touched)) {
        <p class="text-xs italic text-red-500">Este campo es requerido</p>
      }

      @if (phone.hasError("maxLength")) {
        <p class="text-xs italic text-red-500">Este campo no puede tener más de 20 caracteres ni menos de 7 caracteres</p>
      }

      @if (phone.hasError("minlength")) {
        <p class="text-xs italic text-red-500">Este campo no puede tener más de 20 caracteres ni menos de 7 caracteres</p>
      }

      @if (phone.hasError("pattern")) {
        <p class="text-xs italic text-red-500">Este campo solo puede contener números</p>
      }

      
    </div>

    <div class="flex col-span-2 mx-1 mb-4">
        <div class="flex items-center h-5">
          <input id="student" formControlName="student" type="checkbox" class="text-blue-600 bg-gray-100 border-gray-300 rounded size-4 focus:ring-blue-500 focus:ring-2">
        </div>
        <div class="text-sm ms-2">
          <label for="student" class="font-medium text-gray-900">Soy estudiante</label>
          <p id="student" class="text-xs font-normal text-gray-500 text-pretty">Para estudiantes de la institución, nos interesa mucho tu opinión</p>
      </div>
    </div>

    <div class="col-span-2">
      <button type="button" [disabled]="respondentForm.invalid" (click)="handleNextStep()" class="text-white bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200  font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 disabled:opacity-55 w-full  disabled:text-black">
        Siguiente
      </button>
    </div>
  </div>


</form>